/* Global styles */
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header img {
  max-width: 100px;
  margin-bottom: 10px;
}

.login-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.password-toggle i {
  font-size: 16px;
  color: #333;
}

.btn-login {
  padding: 10px 20px;
  background-color: #7ed957;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #54a033;
}

.login-footer {
  text-align: center;
}

.login-footer p {
  font-size: 14px;
}

.login-footer a {
  color: #7ed957;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}
