@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Heebo&display=swap");

/* Styles généraux */
h1 {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    margin: 0;
    color: #303030;
    font-size: 2.488rem;
}

a {
    color: #7ed957;
    text-decoration: none;
}

a:hover {
    color: #407728;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

.table {
    width: 100%;
    margin-bottom: 2rem;
    color: #535f6b;
    border: 1px solid rgba(71, 136, 255, 0.4);
    border-radius: 4px;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #deeaff;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f9ff;
}

.site-controls {
    display: flex;
    align-items: center;
}

.site-controls button {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #7ed957;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    transition: background-color 0.2s ease;
}

.site-controls button:hover {
    background-color: #6fc04c;
}

.site-controls button:focus {
    outline: 2px solid #4caf50;
}
