@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&amp;display=swap");

h1
 {
    margin-top: 0;
    margin-bottom: .5rem
}

a {
    color: #7ed957;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #407728;
    text-decoration: none
}

table {
    border-collapse: collapse
}

th {
    text-align: inherit
}

h1,
.h1 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1,
.h1 {
    font-size: 2.488rem
}

.table {
    width: 100%;
    margin-bottom: 2rem;
    color: #535f6b
}

.table th,
.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #deeaff
}

.table-bordered {
    border: 1px solid #deeaff
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #deeaff
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.table-responsive>.table-bordered {
    border: 0
}

.table {
    border: 1px solid rgba(71, 136, 255, 0.4);
    border-radius: 4px;
    overflow: hidden;
    color: #303030
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f9ff
}

h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    margin: 0px;
    color: #303030;
    font-size: 2.488rem
}

.site-list-container {
    margin-top: 20px;
}
  
.site-list {
    list-style-type: none;
    padding: 0;
}
  
.site-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
  
.site-name {
    font-weight: bold;
}
  
.site-controls {
    display: flex;
    align-items: center;
}
  

h1{
    text-align: center
}

.site-controls button {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #7ed957;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    border: 1px solid #deeaff
    
    
}

.site-controls button:hover {
    background-color: #6fc04c;
}
