@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&amp;display=swap");

:root {
    --mm-primary: #c9dcff;
    --mm-secondary: #ccced2;
    --mm-success: #aafad7;
    --mm-info: #adf1ff;
    --mm-warning: #ffbbab;
    --mm-danger: #ffb3c2;
    --mm-light: #c7cbd3;
    --mm-dark: rgba(199, 203, 211, 0.1);
    --mm-orange: #ffc4a0;
    --mm-purple: #cbc0ff;
    --mm-skyblue: #aad7ff;
    --mm-primary: rgba(71, 136, 255, 0.1);
    --mm-secondary: rgba(108, 117, 125, 0.1);
    --mm-success: rgba(55, 230, 178, 0.1);
    --mm-info: rgba(135, 108, 254, 0.1);
    --mm-warning: rgba(254, 114, 28, 0.1);
    --mm-danger: rgba(255, 75, 75, 0.1);
    --mm-light: rgba(199, 203, 211, 0.1);
    --mm-dark: rgba(1, 4, 27, 0.1);
    --mm-orange: rgba(253, 126, 20, 0.1);
    --mm-purple: rgba(71, 49, 182, 0.1)
}

:root {
    --blue: #7ed957;
    --indigo: #6610f2;
    --purple: #4731b6;
    --pink: #e83e8c;
    --red: #f5365c;
    --orange: #fe721c;
    --yellow: #ffd600;
    --green: #4fd69c;
    --teal: #20c997;
    --cyan: #37d5f2;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #01041b;
    --skyblue: #158df7;
    --primary: #7ed957;
    --secondary: #6c757d;
    --success: #4fd69c;
    --info: #37d5f2;
    --warning: #fc7c5f;
    --danger: #f75676;
    --light: #c7cbd3;
    --dark: #01041b;
    --orange: #fe721c;
    --purple: #4731b6;
    --skyblue: #158df7;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #535f6b;
    text-align: left;
    background-color: #f7f9ff
}


.datatable {
    border-collapse: collapse;
    width: 100%;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}


a {
    color: #7ed957;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #407728;
    text-decoration: none
}

a:not([href]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none
}



table {
    border-collapse: collapse
}



th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[role="button"] {
    cursor: pointer
}

select {
    word-wrap: normal
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1,
.h1 {
    font-size: 2.488rem
}



hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #535f6b
}

.table th,
.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #deeaff
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #deeaff
}

.table tbody+tbody {
    border-top: 2px solid #deeaff
}

.table-sm th,
.table-sm td {
    padding: .3rem
}

.table-bordered {
    border: 1px solid #deeaff
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #deeaff
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
    border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05)
}

.table-hover tbody tr:hover {
    color: #535f6b;
    background-color: rgba(0, 0, 0, 0.075)
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #cbdeff
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
    border-color: #9fc1ff
}

.table-hover .table-primary:hover {
    background-color: #b2ceff
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #b2ceff
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
    background-color: #d6d8db
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody+tbody {
    border-color: #b3b7bb
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #c8cbcf
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #cef4e3
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody+tbody {
    border-color: #a3eacc
}

.table-hover .table-success:hover {
    background-color: #b9efd7
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #b9efd7
}

.table-info,
.table-info>th,
.table-info>td {
    background-color: #c7f3fb
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody+tbody {
    border-color: #97e9f8
}

.table-hover .table-info:hover {
    background-color: #afeef9
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #afeef9
}

.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #fedad2
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody+tbody {
    border-color: #fdbbac
}

.table-hover .table-warning:hover {
    background-color: #fdc5b9
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #fdc5b9
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #fdd0d9
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody+tbody {
    border-color: #fba7b8
}

.table-hover .table-danger:hover {
    background-color: #fcb8c5
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #fcb8c5
}

.table-light,
.table-light>th,
.table-light>td {
    background-color: #eff0f3
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody+tbody {
    border-color: #e2e4e8
}

.table-hover .table-light:hover {
    background-color: #e0e2e8
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #e0e2e8
}

.table-dark,
.table-dark>th,
.table-dark>td {
    background-color: #b8b9bf
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody+tbody {
    border-color: #7b7c88
}

.table-hover .table-dark:hover {
    background-color: #abacb3
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #abacb3
}

.table-orange,
.table-orange>th,
.table-orange>td {
    background-color: #ffd8bf
}

.table-orange th,
.table-orange td,
.table-orange thead th,
.table-orange tbody+tbody {
    border-color: #feb689
}

.table-hover .table-orange:hover {
    background-color: #ffc8a6
}

.table-hover .table-orange:hover>td,
.table-hover .table-orange:hover>th {
    background-color: #ffc8a6
}

.table-purple,
.table-purple>th,
.table-purple>td {
    background-color: #cbc5eb
}

.table-purple th,
.table-purple td,
.table-purple thead th,
.table-purple tbody+tbody {
    border-color: #9f94d9
}

.table-hover .table-purple:hover {
    background-color: #bab2e4
}

.table-hover .table-purple:hover>td,
.table-hover .table-purple:hover>th {
    background-color: #bab2e4
}

.table-skyblue,
.table-skyblue>th,
.table-skyblue>td {
    background-color: #bddffd
}

.table-skyblue th,
.table-skyblue td,
.table-skyblue thead th,
.table-skyblue tbody+tbody {
    border-color: #85c4fb
}

.table-hover .table-skyblue:hover {
    background-color: #a4d3fc
}

.table-hover .table-skyblue:hover>td,
.table-hover .table-skyblue:hover>th {
    background-color: #a4d3fc
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: rgba(0, 0, 0, 0.075)
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075)
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, 0.075)
}

.table .thead-dark th {
    color: #fff;
    background-color: #01041b;
    border-color: #020940
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #deeaff
}

.table-dark {
    color: #fff;
    background-color: #01041b
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #020940
}

.table-dark.table-bordered {
    border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05)
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075)
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-sm>.table-bordered {
        border: 0
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-md>.table-bordered {
        border: 0
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-lg>.table-bordered {
        border: 0
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table-responsive-xl>.table-bordered {
        border: 0
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.table-responsive>.table-bordered {
    border: 0
}


.tab-container .nav-pills .nav-item a {
    padding: 20px 10px;
    font-size: 14px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-left: 1px
}

.tab-container .nav-pills .nav-item a.nav-link.active {
    color: #fff;
    background: #1360ee
}

.tab-container .nav-pills .nav-item:hover a {
    color: #fff
}

.tab-details .tab-pane.fade {
    display: none
}

.tab-details .tab-pane.fade.active.show {
    display: block
}

.tab-scrollbar-data {
    width: 270px;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column
}

.tab-scrollbar-data.tab-sidebar-close {
    right: -270px
}

.tab-scrollbar-data .setting-info .setting-title {
    border-bottom: 1px solid #deeaff;
    padding-bottom: 10px;
    margin-top: 25px
}

.tab-scrollbar-data .setting-info .setting-title:first-child {
    margin-top: 0px
}

.tab-scrollbar-data .setting-info .setting-title h5 i {
    font-size: 20px
}

.tab-scrollbar-data .setting-info .set-swtich {
    margin-top: 15px
}

.tab-scrollbar-data .setting-info .set-swtich h6 {
    font-weight: 400
}

.tab-scrollbar-data .setting-info .set-swtich .custom-control-input:focus~.custom-control-label:before {
    box-shadow: none
}

.table {
    border: 1px solid rgba(71, 136, 255, 0.4);
    border-radius: 4px;
    overflow: hidden;
    color: #303030
}

.table span,
.table p {
    color: #535f6b
}

.table .light th {
    background-color: rgba(71, 136, 255, 0.1);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-top: 0px;
    font-weight: 700 !important
}

.table.table-dark {
    color: #fff !important
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f9ff
}

.table-bordered td {
    border: 1px solid #deeaff
}

.table-bordered th {
    border: 1px solid #deeaff
}

.dataTables_wrapper .dataTables_filter {
    color: #535f6b
}

.dataTables_wrapper .dataTables_info {
    color: #535f6b
}

.dataTables_wrapper .dataTables_length {
    color: #535f6b
}

.dataTables_wrapper .dataTables_paginate {
    color: #535f6b
}

.dataTables_wrapper .dataTables_processing {
    color: #535f6b
}

.dataTables_wrapper .dataTables_filter input {
    border-color: #deeaff;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

table.dataTable thead td {
    border-bottom: 1px solid rgba(71, 136, 255, 0.4) !important
}

table.dataTable thead th {
    border-bottom: 1px solid #deeaff !important;
    color: #303030 !important
}

table.dataTable.no-footer {
    border-bottom: 1px solid #deeaff !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-shadow: none !important;
    outline: none !important
}

.dataTables_wrapper .dataTables_info {
    padding-top: 15px !important
}

.dataTables_wrapper .dataTables_length {
    margin-bottom: 5px
}

.dataTables_wrapper .dataTables_length label {
    border-color: #deeaff !important
}

.dataTables_wrapper .dataTables_length select {
    background: #fff;
    border-radius: 4px;
    padding: 6px 4px;
    border-color: #deeaff !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 3px 10px;
    margin: 10px 2px 0
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    border: 1px solid;
    border-color: #7ed957;
    background: #7ed957;
    border-radius: 4px
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border-color: #7ed957;
    background: #7ed957
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    border: 1px solid rgba(71, 136, 255, 0.6);
    border-radius: 4px
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    border-color: rgba(71, 136, 255, 0.8)
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-color: #7ed957;
    background: #7ed957
}

.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    color: #fff;
    border-color: #7ed957;
    background: rgba(71, 136, 255, 0.8)
}

.dark .table td {
    border-color: #252525
}

.dark .dataTables_wrapper .dataTables_length label {
    border-color: #252525 !important
}

.dark .dataTables_wrapper .dataTables_length select {
    border-color: #252525 !important
}

h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    margin: 0px;
    color: #303030;
    font-size: 2.488rem
}

.table td {
    vertical-align: middle
}

.table th {
    vertical-align: middle
}







.site-list-container {
    margin-top: 20px;
  }
  
  .site-list {
    list-style-type: none;
    padding: 0;
  }
  
  .site-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .site-name {
    font-weight: bold;
  }
  
  .site-controls {
    display: flex;
    align-items: center;
  }
  
  .site-controls button {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #7ed957;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .site-controls button:hover {
    background-color: #6fc04c;
  }

  h1{
    text-align: center
  }








